@font-face {
  font-family: "nova-mono";
  src: url("/static/nova_mono/NovaMono-Regular.ttf") format("truetype");
  /* You can also include additional font formats for better browser compatibility */
}

@font-face {
  font-family: "space-mono";
  src: url("/static/space_mono/SpaceMono-Regular.ttf") format("truetype");
  /* You can also include additional font formats for better browser compatibility */
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 20,
    "opsz" 20;
}

html,
body {
  background-color: #191919;
  font-family: "space-mono", sans-serif;
  /* background-image: radial-gradient(rgba(41, 0, 111, 0.75), black 120%); */
  min-height: 100vh;
  overflow-y: auto;
}

::selection {
  background: rgba(41, 0, 111, 0.75);
  text-shadow: none;
}

.fancy-font {
  font-family: "nova-mono", sans-serif;
}

#user-input-form input::placeholder {
  font-family: "space-mono", sans-serif;
}

.nav-button {
  font-family: "nova-mono", sans-serif;
  border: none;
  left: 0;
  display: inline-block;
  padding: 1px;
  cursor: pointer !important;
  font-size: 0.75rem;
  background-color: transparent;
  color: white;
  margin-right: 0.25rem;
  align-self: center;
  transition: all ease-in-out 200ms;
}

.nav-button::after {
  content: "⬅︎";
}

.nav-button:hover {
  border-radius: 1px;
  color: black;
}

.nav-button.none {
  color: #191919;
  cursor: default !important;
}

.nav-button.none {
  color: #191919;
  cursor: default;
}

.nav-button.none::after {
  color: #191919;
  content: "⬅︎";
}

.basic-button {
  border-radius: 0px;
  cursor: pointer !important;
  background-color: #191919;
  border-style: dashed;
  color: white;
  transition: all ease-in-out 200ms;
}

.basic-button:hover {
  border-radius: 4px;
  color: #191919;
  background-color: white;
  border-style: solid;
  border-color: #191919;
}

.basic-button.clicked {
  border-radius: 4px;
  color: #191919;
  background-color: white;
  border-style: solid !important;
  border-color: #191919;
}
