<form
  class="is-flex is-flex-direction-row"
  hx-patch="/{{env_id}}/{{agent_id}}/add_message"
  hx-target="this"
>
  <select
    class="has-text-white"
    name="role"
    id="message-role"
    style="background-color: #191919; border: none"
  >
    <option value="system">System</option>
    <option value="user">User</option>
    <option value="assistant">Assistant</option>
  </select>
  <input
    class="px-3 mx-2 is-flex is-justify-self-center has-text-white"
    style="background-color: #191919; border: 1px dotted white; width: 50%"
    type="text"
    name="content"
    autocomplete="off"
    placeholder="Type a message..."
    _="on load focus() me end"
  />
  <button
    id="add-message"
    class="material-symbols-outlined little-button is-flex mr-2 is-align-self-center"
    _="on htmx:beforeCleanupElement 
            wait 200ms then
            send getHistory to #chat-history
          end"
  >
    add
  </button>
  <button
    id="close-button"
    class="material-symbols-outlined little-button is-flex mr-2 is-align-self-center"
    hx-get="/{{env_id}}/{{agent_id}}"
    hx-select="#new-message-button"
    hx-swap="outerHTML"
    hx-target="closest <form/>"
    hx-trigger="click, close"
  >
    close
  </button>
</form>
