<form
  class="is-flex is-flex-direction-row"
  hx-patch="/{{env_id}}/{{agent_id}}/add_message"
  hx-target="this"
  _="on htmx:afterRequest 
            wait 2s then
            reload() the location of the window
          end"
>
  <select
    class="has-text-white"
    name="role"
    id="message-role"
    style="background-color: #191919; border: none"
  >
    <option value="system">System</option>
    <option value="user">User</option>
    <option value="assistant">Assistant</option>
  </select>
  <input
    class="px-3 mx-2 is-flex is-justify-self-center has-text-white"
    style="background-color: #191919; border: 1px dotted white; width: 50%"
    type="text"
    name="content"
    placeholder="Type a message..."
    _="on load focus() me end"
  />
  <button
    class="material-symbols-outlined new-sys-message-button is-flex mr-2 is-align-self-center"
  >
    add
  </button>
</form>
