<style>
  .chat-window {
    height: 100%;
    overflow-y: scroll;
  }

  .system-message-check {
    font-size: 1.25rem;
    color: white;
  }

  .system-message-check:hover {
    cursor: pointer;
  }

  .system-message-check.checked {
    color: yellow;
  }

  #user-input-form {
    position: fixed;
    bottom: 0;
    width: 45vw;
    border-radius: 10px;
    border-style: dashed;
    background-color: #191919 !important;
  }

  #user-input-form.focused {
    border-style: solid;
  }

  #user-input-form textarea {
    background-color: #191919 !important;
    resize: none;
    border: none;
    color: white;
  }

  #user-input-form textarea:focus {
    outline: none !important;
    box-shadow: none;
    background-color: red;
  }

  #user-input-form textarea::-webkit-scrollbar {
    display: none;
  }

  #user-input-form textarea::placeholder {
    color: #3a3a3a;
  }

  #user-input-form button {
    background-color: #191919;
    border: none;
    color: white;
    transition: all ease-in-out 200ms;
  }

  #user-input-form button:hover {
    cursor: pointer;
    padding: 0.4em;
    border-radius: 1px;
    color: #191919;
    background-color: white;
  }
</style>

<script type="text/hyperscript">
  behavior TextInputBox
    on load
        focus() me
        set :initHeight to `${my scrollHeight}px`
    end
    on focus
        add .focused to #user-input-form
    end
    on blur
        remove .focused from #user-input-form
    end
    on keydown(event)
        if event.key == 'Enter'
           if not event.shiftKey
               event.preventDefault()
               if my value is not ''
                   trigger submit on #user-input-form
               end
           end
        end
    end
    on keyup(event)
        if event.shiftKey
            if event.key == 'Enter'
               send updateSize to me
            end
        end
       if event.key == 'Backspace'
          send updateSize to me
       end
    end
    on updateSize
        if my value does not include '\n'
            set my style.height to :initHeight
        else
            set my style.height to 'auto'
            set :newHeight to `${my scrollHeight}px`
            log :newHeight
            set my style.height to :newHeight
        end
    end

  end
</script>

<button
  class="nav-button"
  hx-swap-oob="outerHTML"
  id="go-back-button"
  hx-get="/{{env_id}}"
  hx-target="#route-content"
  hx-push-url="true"
></button>
<div
  id="ws-connect"
  class="is-flex is-flex-direction-column"
  hx-ext="ws"
  ws-connect="/ws"
  _="on htmx:wsAfterMessage send getHistory to #chat-history end"
>
  <div class="chat-window py-2 pl-2 pr-5">
    <div class="container">
      <div
        id="chat-history"
        hx-get="/{{env_id}}/{{agent_id}}/history"
        hx-trigger="load, getHistory"
        hx-swap="innerHTML"
        hx-target="this"
      ></div>

      <button
        id="new-message-button"
        class="material-symbols-outlined little-button"
        hx-get="/{{env_id}}/{{agent_id}}/add_message_form"
        hx-target="this"
        hx-swap="outerHTML"
      >
        add
      </button>
    </div>
  </div>
  <form
    autocomplete="off"
    ws-send=""
    id="user-input-form"
    name="{{env_id}}-{{ agent_id }}-agent-form"
    class="mb-2 is-flex is-align-self-center is-flex-direction-row is-justify-content-center is-flex-shrink"
    hx-swap="none"
    hx-on="htmx:wsAfterSend: this.reset()"
  >
    <textarea
      class="input px-3 mx-2 is-flex is-justify-self-center"
      name="user_input"
      placeholder="Type a message..."
      _="install TextInputBox"
    ></textarea>
    <button class="is-flex mr-2 is-align-self-flex-end mb-3">▶︎</button>
  </form>
</div>
