{% extends "index.html" %} {% block layout %}
<div id="main-div" class="is-flex is-flex-direction-column m-3 ">

  {% match path_and_params %}
  {% when Some with ((path, params)) %}
  <div class="is-flex is-flex-direction-row is-justify-content-space-between">
      <button id="go-back-button"
          class="nav-button"
          hx-swap-oob="outerHTML"
          >
      </button>
          <h1 class="has-text-white has-text-weight-bold is-size-2"> Bureau </h1>
      <div></div>
  </div>

  <div
    hidden
    hx-push-url="true"
    hx-target="#route-content"
    hx-get="{{ path }}?{{ params }}"
    hx-swap="innerHTML"
    hx-trigger="load once"
  ></div>
  {% when None %}
  <div id="go-back-button"
      class="nav-button none"
      hx-swap-oob="outerHTML"
      >
  </div>
  <div
      class="is-flex is-flex-direction-column">
      <h1 class="is-align-self-center">
          Please pick an environment
      </h1>
      {% match environment_names %}
      {% when Some with (env_names) %}
      <h1>
          Environments:
      </h1>
      <ul class="choice-list">
          {% for name in env_names %}
          <li hx-get="{{name}}" hx-target="#route-content" hx-select-oob="" hx-push-url="true" hx-swap="innerHTML">{{name}}</li>
      {% endfor %}
      </ul>
      {% when None %}
      <h1> You have no environments </h1>
      {% endmatch %}
  </div>
{% endmatch %}


  <div id="route-content" class=""></div>
</div>
{% endblock %}
